@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transform-style-3d {
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  background: black;
  font-family: var(--font-sfuitext_reg), Arial, Helvetica, sans-serif;
}
